@charset "utf-8";
/* CSS Document */


/*
Theme Name: Multi-Purpose Landing Page Template - ReadyMade
Version: 1.0
Author: Surjith SM
Author URI: http://themeforest.net/user/surjithctly
*/


/******************  Table of Contents  *****************************/

/*

1. GLOBAL STYLES
2. HEADER
3. HERO IMAGE
4. FEATURES
5. TESTIMONIALS
6. PLANS AND PRICING
7. FAQ
8. FOOTER
9. CUSTOM MEDIA QUERIES

If you having trouble in editing css. please send a mail to support@surjithctly.in
I will really help you

*/

/*========== 1. GLOBAL STYLES ==============*/
.google-maps {
	border-bottom: 50px;

}

.embed-container { 
	position: relative; padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
	} 

.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

body {
	font-family: 'Open Sans', Arial, sans-serif;
	background: #FFF;
	font-weight: 300;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #94a3a8;
}
strong, b {
	font-weight: 600;
}
h1 {
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
	font-weight: 600;
}
h2 {
	font-size: 40px;
	font-weight: 600;
	margin: 15px 0;
}
h3 {
	font-size: 30px;
	margin: 10px 0;
	font-weight: 600;
}
h4 {
	font-size: 25px;
	margin: 10px 0;
}
h5 {
	font-size: 20px;
	font-weight: 600;
	margin: 15px 0;
	color: #384047;
}
h6 {
	font-size: 16px;
	font-weight: 600;
	margin: 10px 0;
	color: #384047;
}
a {
	color: #5173bd;
}
a:hover, a:focus {
	color: #5173bd;
}
.preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999999;
}
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	z-index: 9999999;
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	height: 2px;
	width: 100%;
}
.pace .pace-progress {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: width 1s ease-in-out 1s linear;
	-moz-transition: width 1s ease-in-out 1s linear;
	-ms-transition: width 1s ease-in-out 1s linear;
	-o-transition: width 1s ease-in-out 1s linear;
	transition: width 1s ease-in-out 1s linear;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	max-width: 100%;
	position: fixed;
	z-index: 9999999;
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	background: #F76D53;
}
.pace.pace-inactive {
	display: none;
}
.btn, .btn-lg, .input-lg {
	border-radius: 3px;
}
.form-control {
	border-radius: 3px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #DCDCDC;
}
.form-control:focus {
	border-color: #ABABAB;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.input-lg {
	height: 55px;
}
.btn-lg, .btn-group-lg > .btn {
	padding: 10px 28px;
	height: 52px;
}
.breath {
	margin: 50px auto;
}
.highlight {
	background: #e5e8ec;
	margin-top: 40px;
}
.relative-block {
	position: relative;
}
.form-group.last {
	margin-bottom: 0;
}
.multiple-btns .btn + .btn {
	margin: 10px;
}
.re-assure {
	color: #AAAAAA;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 0;
	font-size: 11px;
	font-style: italic;
}
/*Vertical Rythm*/

.has-margin-top {
	margin-top: 30px;
}
.has-margin-top-lg {
	margin-top: 50px;
}
.has-margin-bottom {
	margin-bottom: 30px;
}
.has-margin-bottom-sm {
	margin-bottom: 20px;
}
.has-margin-vertical {
	margin: 20px 0 30px;
}
.has-margin-bottom {
	margin-bottom: 90px;
}
/*========== 2. HEADER ==============*/

.masthead {
	position: relative;
	padding: 30px 15px;
	color: #FFF;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	background-color: #424ea4;
	background-image: url(../images/header_bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.masthead h1 {
	color: #FFF;
}

/* Initial Subtle Animation*/

.masthead .container {
	animation: fadein 2s;
	-moz-animation: fadein 2s; /* Firefox */
	-webkit-animation: fadein 2s; /* Safari and Chrome */
	-o-animation: fadein 2s; /* Opera */
}
.loading * {
	-webkit-animation: none !important;
	-moz-animation: none !important;
	-ms-animation: none !important;
	-o-animation: none !important;
}
 @keyframes fadein {
 from {
 opacity:0;
 -webkit-transform: translateY(-30px);
-moz-transform: translateY(-30px);
transform: translateY(-30px);
}
to {
 opacity:1;
 -webkit-transform: translateY(0);
 -moz-transform: translateY(0);
 transform: translateY(0);
}
}
@-moz-keyframes fadein { /* Firefox */
 from {
 opacity:0;
 -webkit-transform: translateY(-30px);
-moz-transform: translateY(-30px);
transform: translateY(-30px);
}
to {
 opacity:1;
 -webkit-transform: translateY(0);
 -moz-transform: translateY(0);
 transform: translateY(0);
}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
 from {
 opacity:0;
 -webkit-transform: translateY(-30px);
-moz-transform: translateY(-30px);
transform: translateY(-30px);
}
to {
 opacity:1;
 -webkit-transform: translateY(0);
 -moz-transform: translateY(0);
 transform: translateY(0);
}
}
@-o-keyframes fadein { /* Opera */
 from {
 opacity:0;
 -webkit-transform: translateY(-30px);
-moz-transform: translateY(-30px);
transform: translateY(-30px);
}
to {
 opacity:1;
 -webkit-transform: translateY(0);
 -moz-transform: translateY(0);
 transform: translateY(0);
}
}
/*animation ends*/

.logo {
	padding: 0 0;
	text-align: center;
}
.btn-large {
	font-size: 18px;
	padding: 20px 50px;
	margin: 5px 10px;
}
.btn-success {
	background-color: #2ecc71;
	background-image: none;
	border: 0;
	-webkit-box-shadow: 0 3px 0 rgba(2, 154, 67, 1);
	box-shadow: 0 3px 0 rgba(2, 154, 67, 1);
	line-height: 1.8;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
	background-color: #29c36a;
	color: #FFF;
	border: 0;
	-webkit-box-shadow: 0 3px 0 rgba(2, 139, 61, 1);
	box-shadow: 0 3px 0 rgba(2, 139, 61, 1);
}
.btn-primary {
	background-color: #23306b;
	border: solid 1px #23306b;
	line-height: 1.8;
	-webkit-box-shadow: 0 3px 0 rgb(24, 36, 87);
	box-shadow: 0 3px 0 rgb(24, 36, 87);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background-color: #2d3978;
	border: solid 1px #23306b;
	-webkit-box-shadow: 0 3px 0 rgb(24, 36, 87);
	box-shadow: 0 3px 0 rgb(24, 36, 87);
}
.btn-warning {
	background-color: #003973;
	line-height: 1.8;
	-webkit-box-shadow: 0 3px 0 rgb(214, 106, 18);
	box-shadow: 0 3px 0 #313131;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
	background-color: #3399FF;
	-webkit-box-shadow: 0 3px 0 rgb(214, 106, 18);
	box-shadow: 0 3px 0 #297ACC;
}
.btn-grey {
	background-color: #868c96;
	line-height: 1.8;
	color: #FFF;
	-webkit-box-shadow: 0 3px 0 rgb(108, 115, 107);
	box-shadow: 0 3px 0 rgb(108, 115, 107);
}
.btn-grey:hover, .btn-grey:focus, .btn-grey:active {
	background-color: #8F959E;
	color: #FFF;
	-webkit-box-shadow: 0 3px 0 rgb(108, 115, 107);
	box-shadow: 0 3px 0 rgb(108, 115, 107);
}
.subscribe {
	padding: 45px 0;
}
.loading p {
	font-size: 13px;
	margin-top: 10px;
	text-align: center;
	color: #8A8A8A;
	margin-bottom: 0;
}
.loading .text-success {
	color: #21BD24;
}
.loading .text-danger {
	color: #CF3E3B;
}

/* Boucing Arrow Animation */

@keyframes arrowbounce {
from {
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
transform: translateY(0);
}
to {
 -webkit-transform: translateY(-20px);
 -moz-transform: translateY(-20px);
 transform: translateY(-20px);
}
}
@-moz-keyframes arrowbounce { /* Firefox */
from {
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
transform: translateY(0);
}
to {
 -webkit-transform: translateY(-20px);
 -moz-transform: translateY(-20px);
 transform: translateY(-20px);
}
}
@-webkit-keyframes arrowbounce { /* Safari and Chrome */
from {
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
transform: translateY(0);
}
to {
 -webkit-transform: translateY(-20px);
 -moz-transform: translateY(-20px);
 transform: translateY(-20px);
}
}
@-o-keyframes arrowbounce { /* Opera */
from {
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
transform: translateY(0);
}
to {
 -webkit-transform: translateY(-20px);
 -moz-transform: translateY(-20px);
 transform: translateY(-20px);
}
}
.scrollto, .scrollto:hover {
	display: block;
	text-decoration: none;
	position: absolute;
	bottom: -30px;
	left: 50%;
	height: 70px;
	margin-left: -50px;
}
.scrollto--arrow {
	padding: 10px;
	position: relative;
}
.scrollto--arrow img {
	animation: arrowbounce 1s alternate infinite;
	-moz-animation: arrowbounce 1s alternate infinite; /* Firefox */
	-webkit-animation: arrowbounce 1s alternate infinite; /* Safari and Chrome */
	-o-animation: arrowbounce 1s alternate infinite; /* Opera */
}
/*========== 3. SECTIONS ==============*/

.section-title {
	text-align: center;
	margin-top: 70px;
	margin-bottom: 50px;
}
.section-title h2 {
	color: #384047;
}
.section-title h4 {
	color: #94a3a8;
}
.highlight .section-title {
	margin-top: 50px;
}
.heroimg img, .clientlogo img {
	max-width: 100%;
}
/*Header Title*/

.masthead .main-title {
	margin-bottom: 0;
	background: #0066FF;
}
.masthead .sub-title {
	font-size: 25px;
}
/*Quick Features*/

.quick-features {
	text-align: left;
}
.features-lead {
	margin-bottom: 30px;
	color: #323e4f;
}
.featues-single {
	margin-bottom: 25px;
}
.featues-single.last {
	margin-bottom: 40px;
}
.featues-single img {
	margin-right: 20px;
	margin-top: 8px;
}
.featues-single h5 {
	margin-bottom: 5px;
	margin-left: 50px;
	color: #323e4f;
}
.featues-single p {
	color: #A1B8E4;
	margin-left: 50px;
	margin-bottom: 0;
}
.masthead .featues-single h5, .masthead .features-lead {
	color: #fff;
}
/*Lead Gen Form*/


.signup-block {
	padding: 20px;
	background: #FFF;
	color: #535353;
	text-align: left;
	margin-bottom: 25px;
	-webkit-box-shadow: 0 0 25px rgba(0,0,0, 0.4);
	-moz-box-shadow: 0 0 25px rgba(0,0,0, 0.4);
	box-shadow: 0 0 25px rgba(0,0,0, 0.4);
}

@media (min-width:992px) {
.btn-xl, .btn-group-xl > .btn {
	padding: 15px 30px;
	height: 75px;
	font-size: 25px;
	font-weight: 600;
}
.btn-min-width {
	min-width: 160px;
}
.btn-min-width-lg {
	min-width: 280px;
}
.featues-single.last {
	margin-bottom: 15px;
}
.signup-block {
	position: absolute;
	width: 100%;
}
}
/*CLIENT LOGOS*/

.as-seen-on {
	color: #3f74c6;
	font-weight: 600;
	font-size: 35px;
	padding: 15px 0;
	border-bottom: 1px solid #DFE4E9;
}
.logos img {
	padding: 15px 15px 5px 0;
}
/*========== 4. FEATURES ==============*/

.zigzag {
	margin: 55px 0;
}
.zigzag-lead {
	color: #595c60;
	font-size: 22px;
	font-weight: 600;
	margin-top: 0;
}
.zigzag p {
	line-height: 1.5;
	font-size: 16px;
}
.icon-wrap {
	background: #e5e8ec;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	width: 140px;
	height: 140px;
	margin: 0 auto;
}

@media (max-width:992px) {
.zigzag-lead {
	margin-top: 30px;
}
}
.features {
	margin: 25px 0;
}
.thumbnail {
	border: 0;
	text-align: center;
}
.thumbnail .caption p {
	color: #94a3a8;
}
/*Hover Animation*/

.thumbnail img {
	-moz-transition: all 0.6s ease;
	-webkit-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}
.thumbnail:hover img {
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	z-index: 2;
}
/*========== 5. TESTIMONIALS ==============*/

.testblock {
	width: 100%;
	height: auto;
	padding: 20px;
	background: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	position: relative;
	line-height: 28px;
	font-size: 16px;
	-webkit-box-shadow: 0 3px 0px rgba(195,197,201, 1);
	-moz-box-shadow: 0 3px 0px rgba(195,197,201, 1);
	box-shadow: 0 3px 0px rgba(195,197,201, 1);
}
.testblock:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 15px;
	margin-left: -15px;
}
.clientblock {
	margin-top: 40px;
	margin-left: 10px;
	text-align: center;
}
.clientblock p {
	padding-top: 13px;
}
.clientblock p strong {
	color: #384047;
	font-size: 16px;
}
/* Animation */

.testblock {
	-moz-transition: all 0.6s ease;
	-webkit-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}
.testblock:hover {
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	z-index: 2;
}
/*========== 6. PLANS AND PRICING ==============*/

.planpricing {
	margin-bottom: 90px;
}
.pricing {
	padding: 25px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFF;
	position: relative;
}
.pricing .planname {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 24px;
	color: #474d56;
	padding: 15px 0;
	border-bottom: 1px solid #DDE8EC;
	margin-bottom: 15px;
}
.pricing .price {
	font-size: 52px;
	font-weight: 300;
	margin: 10px auto;
	background: #e5e8ec;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	width: 140px;
	height: 140px;
	line-height: 128px;
}
.featured.pricing:before {
	position: absolute;
	content: "";
	width: 22px;
	height: 35px;
	top: -5px;
	right: 30px;
	background: url(../images/best_icon.png) no-repeat;
}
.featured.pricing .price {
	background: #3d57a3;
	background: -moz-linear-gradient(top, #4d3d9e 50%, #2a75a8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #4d3d9e), color-stop(100%, #2a75a8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4d3d9e 50%, #2a75a8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4d3d9e 50%, #2a75a8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4d3d9e 50%, #2a75a8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #4d3d9e 50%, #2a75a8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d3d9e', endColorstr='#2a75a8', GradientType=0 ); /* IE6-9 */
	color: #FFF;
}
.pricing .plan-features {
	text-align: center;
	line-height: 2.0;
	font-size: 16px;
	margin-bottom: 20px;
}
.pricing .action-btn {
	position: absolute;
	bottom: -15px;
	left: 50%;
	margin-left: -80px;
}
.pricing .price .curr {
	display: inline-block;
	font-size: 20px;
	vertical-align: super;
}
.pricing .price .per {
	display: inline-block;
	font-size: 20px;
	vertical-align: baseline;
}
/* Animation */

.pricing {
	-moz-transition: all 0.6s ease;
	-webkit-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}
.pricing:hover {
	-webkit-box-shadow: 0 3px 8px rgba(0,0,0, 0.2);
	-moz-box-shadow: 0 3px 8px rgba(0,0,0, 0.2);
	box-shadow: 0 3px 8px rgba(0,0,0, 0.2);
}
/*========== 7. FAQ ==============*/

.faq p {
	margin-bottom: 25px;
}
/*==========8. FOOTER ==============*/


.footercta {
	padding: 20px 0 80px;
	color: #FFF;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	background-color: #6883cc;
	background-image: url(../images/header_bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.footercta .section-title {
	margin-top: 50px;
}
.footercta .section-title h2 {
	color: #FFF;
}
.footercta .section-title h4 {
	color: #b5b2df;
}
.footerlinks {
	text-align: center;
}
.footerlinks a {
	text-align: center;
	padding: 0 13px;
	display: inline-block;
	padding-bottom: 15px;
}
.footercontent .social {
	padding: 8px 0;
	display: inline-block;
}
.footercontent .madeby {
	text-align: center;
	line-height: 2.7;
}
.footercontent .copyinfo {
	text-align: right;
}

@media (min-width: 768px) {
.footercontent .copyinfo {
	line-height: 2.7;
}
}

/*==========9. CUSTOM MEDIA QUERIES==============*/


/*MEDIA QUERIES*/

@media (max-width: 991px) {
h1 {
	font-size: 35px;
	line-height: 50px;
	margin: 15px 0;
}
h2 {
	font-size: 35px;
}
.logos {
	text-align: center;
}
.as-seen-on {
	text-align: center;
	margin-top: 30px;
}
.testimonials [class*="col-"]:not(:first-child) {
	margin-top: 40px;
}
.planpricing [class*="col-"]:not(:first-child) {
	margin-top: 30px;
}
.breath {
	margin: 30px auto;
}
.planpricing {
	margin-bottom: 80px;
}
.pricing {
	margin-bottom: 50px;
}
}

@media (max-width: 767px) {
h1 {
	font-size: 30px;
	line-height: 35px;
}
h2 {
	font-size: 30px;
	line-height: 40px;
}
h5 {
	line-height: 25px;
}
.subscribe [class*="col-"]:not(:first-child) {
	margin-top: 30px;
}
.masthead {
	padding: 40px 15px;
	background-attachment: scroll;
}
.masthead .sub-title {
	font-size: 18px;
	line-height: 25px;
}
.signup-block .form-title {
	font-size: 20px;
}
.input-lg {
	font-size: 16px;
	height: 45px;
}
.zigzag-lead {
	text-align: center;
}
.zigzag p {
	text-align: center;
}
.footercontent {
	text-align: center;
}
.footercontent .copyinfo {
	text-align: center;
}
.subscribe-block [class*="col-"]:not(:first-child) {
	margin-top: 20px;
}
.bulletin {
	text-align:center;
	margin-top:20px;
}
}

@media (max-width: 480px) {
/*Media Queries for smaller devices*/


}

/*=== v1.1 ===*/

@media (max-device-width: 992px) {
.masthead {
	background-size: cover;
	background-attachment: scroll;
}
}
/*========== SUB PAGES ==============*/


.subpage-head {
	background-color: #f4f4f4;
	padding-top: 30px;
	padding-bottom: 15px;
	margin-bottom: 40px;
	background-image: url(../images/header_bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.subpage-head .section-title h2 {
color: #FFF;
}
.subpage-head .section-title h4 {
color: #b5b2df;
}

.subpage-head a {
	color:#FFF;
	border-bottom:solid 1px #FFF;
	text-decoration:none;
	padding-bottom:5px;
}	

.subpage-head a:hover, .subpage-head a:focus, .subpage-head a:active {
	color:rgba(255,255,255,0.7);
	border-bottom:solid 1px rgba(255,255,255,0.7);
	text-decoration:none;
}	


/*=== Vertical Signup ===*/
 
.signup-space {
	height: 250px;
	width: 100%;
}
/*=== Subscribe Form ===*/

.subscribe-block {
	padding: 20px;
	background: rgba(255, 255, 255, 0.3);
	color: #535353;
	text-align: left;
	margin-bottom: 40px;
	margin-top: 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.subscribe-block .loading p {
	color: #FFF;
}
.subscribe-block .loading .text-success {
	color: #FFF;
}
.subscribe-block .loading .text-danger {
	color: #FFF;
}
/*=== Web App page ===*/

.web-app .masthead {
	padding: 15px;
	padding-bottom: 0;
}
.web-app .logo {
	padding: 15px 0;
}
/*=== Mob App page ===*/

.mob-app .masthead {
	padding: 15px;
}
.mob-app .logo {
	padding: 15px 0;
}
.multiple-links a img {
	margin: 5px;
}
/*=== Navigation ===*/

.has-nav .masthead {
	padding-top: 60px;
}
.navbar-default {
	background-color: #FFF;
	border-color: #e0e0e0;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
	color: #FFF;
	font-weight: bold;
}
.navbar-default .navbar-nav > li > a {
	color: #333;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #333;
	background-color: rgba(255, 255, 255, 0.22);
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: rgba(0, 0, 0, 0.5);
	background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #333;
	background-color: rgba(255, 255, 255, 0.21);
}
.navbar-brand {
	padding: 8px 15px;
}
/*========== 10. BLOG ==============*/

.pagination>li>a, .pagination>li>span {
	color: #483f34;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
	color: #917E68;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	background-color: #3289D6;
	border-color: #3172AC;
	color: #FFFFFF;
}
.vertical-links li {
	border-bottom: 1px solid #E6DDD4;
	padding: 8px 0;
}
.tag-cloud a {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 10px;
	padding: 2px 8px;
	border: 1px solid #eceae4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #f8f7f3;
	font-size: 12px;
}
.tag-cloud a:hover {
	text-decoration: none;
}
.comments-head {
	font-size: 35px;
	color: #53504c;
	border-bottom: 1px solid #F5F5F5;
	margin: 40px 0 20px;
	padding-bottom: 10px;
}
.comments-block > .media {
	border-bottom: 1px solid #F5F5F5;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.comments-block > .media .media {
	border-top: 1px solid #F5F5F5;
	padding-top: 20px;
}
.media-object {
	width: 40px;
}
